.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    padding: 10px; 
    flex-wrap: wrap;
}

.icon {
    width: 100px;
    height: auto;
}

.btn-container {
    display: flex;
    gap: 10px;
}

button {
   border-radius: 8px;
   border-color: black;
}

.short {
    width: 200px;
    height: auto;
    margin: 10px;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.search-section {
    display: flex;
    gap: 10px; 
    align-items: center; 
    flex-wrap: wrap; 
}

.frame-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-icon {
    width: 250px; 
    height: auto;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column; 
        align-items: flex-start;
    }

    .search-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%; 
    }

    .frame-icon {
        width: 200px; 
    }
}
